footer
  .container.text-center
    p.float-left © 2019 Company, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/rubensandersonn', target='_blank') GitHub Projects
      li.list-inline-item
        a(href='https://bitbucket.org/rubensAnderson', target='_blank') Bitbucket Projects
