footer(style={"box-shadow": "2px 2px 2px 2px #f7f7f7"})
  .container.text-center
    p.float-left(style={"padding-top": "20px"}) © 2019 Rubs, Inc. All Rights Reserved
    ul.float-right.list-inline(style={"padding-top": "20px"})
      li.list-inline-item
        a.pl-3.pr-3(href='http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K2722520P1', target='_blank') Lattes
      li.list-inline-item
        a.pl-3.pr-3(href='https://github.com/rubensandersonn', target='_blank')
          span.icon-github
      li.list-inline-item
        a.pl-3.pr-3(href='https://bitbucket.org/rubensAnderson', target='_blank')
          span.icon-bitbucket
      li.list-inline-item
        a.pl-3.pr-3(href='https://facebook.com/rubensanderson23', target='_blank')
          span.icon-facebook
      li.list-inline-item
        a.pl-3.pr-3(href='https://www.instagram.com/rubens_andersonn/', target='_blank')
          span.icon-instagram
      li.list-inline-item
        a.pl-3.pr-3(href='https://www.linkedin.com/in/rubens-silva-56741115b/', target='_blank')
          span.icon-linkedin

