.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Sistema de Cadastro
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Buscar') ? 'active' : undefined)
          a.nav-link(href='/usuario') Buscar
        li.nav-item(class=(title === 'Criar') ? 'active' : undefined)
          a.nav-link(href='/usuario/create') Criar
        li.nav-item(class=(title === 'Atualizar') ? 'active' : undefined)
          a.nav-link(href='/usuario/update') Atualizar
        li.nav-item(class=(title === 'Remover') ? 'active' : undefined)
          a.nav-link(href='/usuario/delete') Remover
        
      ul.nav.navbar-nav.ml-auto
        
