.navbar.navbar-light.fixed-top.navbar-expand-lg(style={"box-shadow": "2px 2px #f7f7f7", "background-color": "#ffffff"})
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Sistema de Cadastro
    
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title === 'Buscar') ? 'active' : undefined)
          a.nav-link(href='/usuario') Buscar
        li.nav-item(class=(title === 'Criar') ? 'active' : undefined)
          a.nav-link(href='/usuario/create') Criar
        li.nav-item(class=(title === 'Atualizar') ? 'active' : undefined)
          a.nav-link(href='/usuario/update') Atualizar
        li.nav-item(class=(title === 'Remover') ? 'active' : undefined)
          a.nav-link(href='/usuario/delete') Remover
        
      
        
