extends layout

block content
  .div.m-0.p-2
    h1(style={ color: '#2e2e2e'}) Sistema de Cadastro
    hr
    h4.mb-4 Rubens Anderson de Sousa Silva
    p.mb-1 ✓ Graduado em Ciência da Computação - UFC
    p ✓ Mestrando em Ciência da Computação - UFC
    hr
  .row.p-2
    .col-md-6.mb-4(style={color: '#2f2f2f'})
      h4 Ver Github
      p Ver página pessoal de Rubens no github.com
      p
        a.btn.btn-raised(href='https://github.com/rubensandersonn', role='button', target='_blank') Ver Detalhes »
    .col-md-6.mb-4(style={color:'#2f2f2f'})
      h4 Ver Bitbucket
      p Ver página pessoal de Rubens no bitbucket.org
      p
        a.btn.btn-raised(href='https://bitbucket.org/rubensAnderson', role='button', target='_blank') Ver Detalhes »
    .col-md-6.mb-4(style={color:'#2f2f2f'})
      h4 Ver Curriculum Lattes
      p Ver curriculum na plataforma Lattes de Rubens
      p
        a.btn.btn-raised(href='http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K2722520P1', role='button', target='_blank') Ver Detalhes »
    .col-md-6.mb-4(style={color:'#2f2f2f'})
      h4 Email para contato
      p Email para contato de Rubens: #[strong rubens.silva@alu.ufc.br]
      p