extends layout
block content
	.div(data-spy='scroll', data-target='.site-navbar-target', data-offset='300')
		#home-section.site-wrap
			.site-mobile-menu.site-navbar-target
				.site-mobile-menu-header
					.site-mobile-menu-close.mt-3
						span.icon-close2.js-menu-toggle
				.site-mobile-menu-body
			
			.slide-one-item
				.site-section-cover.overlay.img-bg-section(style="background-image: url('images/mines/codes.jpeg');")
					.container
						.row.align-items-center
							.col-md-12.col-lg-7
								
								h2 Rubens Anderson de Sousa Silva.
								p ✓ Graduado em Ciência da Computação - UFC
								p ✓ Mestrando em Ciência da Computação - UFC
			// Apresentação
			#apresentacao.site-section.block__73694
				.container-fluid
					.row.d-flex.no-gutters.align-items-stretch
						.col-6(style="background-image: url('images/mines/web.png');")
						.col-lg-6.p-lg-5.pb-lg-0.mt-0.mt-lg-0
							h2.text-black Apresentação
							p.lead
								| Rubens é de Fortaleza, Ceará, Mestrando em Ciência da Computação pela Universidade Federal do Ceará - UFC. Possui experiência em desenvolvimento nas linguagens / frameworks:
							.row.mt-3
								.col-lg-6
									ul.ul-check.secondary.list-unstyled
										li Node JS.
										li React Native.
										li React JS.
										li PHP
								.col-lg-6
									ul.ul-check.secondary.list-unstyled
										li Java.
										li Python.
										li Ruby.
										li C/C++?
			// ORANGE
			#orange.site-section-cover.overlay.img-bg-section(style="background-image: url('images/mines/iot_PNG.png'); ;")
				.container
					.row.align-items-center
						.col-md-12.col-lg-7
							h1 IoT - Internet das Coisas
							h2 Principal Área de Interesse de Rubens.
			// Section
			#interesses.site-section.block__73694
				.container-fluid
					.row.d-flex.no-gutters.align-items-stretch
						.col-lg-6.p-lg-5.mt-4
							h2.text-black Áreas de Interesse
							p.lead As principais áreas de interesse são em:
							.row.mt-3
								.col-lg-6
									ul.ul-check.secondary.list-unstyled
										li IoT - Internet das Coisas.
										li Data Science.
										li Educação, Ensino e Metodologia.
										li Design
								.col-lg-6
									ul.ul-check.secondary.list-unstyled
										li Desenvolvimento Web.
										li Desenvolvimento Mobile.
										li Gamification.
										li Metodologias Ágeis
						.col-5(style="background-image: url('images/mines/code.jpg');")

			// contatos
			#contatos.site-section.block__73694
				.container-fluid
					.row.d-flex.no-gutters.align-items-stretch
						.col-6(style="background-image: url('images/mines/eins.png');")
						.col-lg-6.p-lg-5.mt-4.mt-lg-0
							h2.text-black Contato
							p.lead
								| Disponível 24/7 ou quando dá
							.row.mt-3
								.col-lg-6
									ul.ul-check.secondary.list-unstyled
										li Rubens.silva@alu.ufc.br   .  
											a.smoothscroll.pl-0.pr-3(href="#")
												span.icon-google
										li Facebook   .  
											a.smoothscroll.pl-0.pr-3(href="https://facebook.com/rubensanderson23", target='_blank')
												span.icon-facebook
										li Github   .  
											a.smoothscroll.pl-0.pr-3(href="https://github.com/rubensandersonn", target='_blank')
												span.icon-github
										
								.col-lg-6
									ul.ul-check.secondary.list-unstyled
										li Instagram   .  
											a.smoothscroll.pl-0.pr-3(href="https://www.instagram.com/rubens_andersonn/", target='_blank')
												span.icon-instagram
										li LinkedIn   .  
											a.smoothscroll.pl-0.pr-3(href="https://www.linkedin.com/in/rubens-silva-56741115b/", target='_blank')
												span.icon-linkedin
										li Bitbucket   .  
											a.smoothscroll.pl-0.pr-3(href="https://bitbucket.org/rubensAnderson", target='_blank')
												span.icon-bitbucket

			// TEAM
			#team-section.site-section
				.container
					.row.mb-5
						.col-12
							h2 Nossa Equipe
					.row
						.col-lg-4.col-md-6.mb-4.mb-lg-0(data-aos='fade-up')
							.block-team-member-1.text-center.rounded
								figure
									img.img-fluid.rounded-circle(src='images/mines/me/me1.jpg', alt='Image')
								h3.font-size-20.text-black Rubens Silva
								span.d-block.font-gray-5.letter-spacing-1.text-uppercase.font-size-12.mb-3 Analista de Sistemas
								p.px-3.mb-3 Especialista em Aplicações Web e mobile
								.block-social-1
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://facebook.com/rubensanderson23', target='_blank')
										span.icon-facebook
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://www.instagram.com/rubens_andersonn/', target='_blank')
										span.icon-instagram
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://github.com/rubensandersonn', target='_blank')
										span.icon-github
						.col-lg-4.col-md-6.mb-4.mb-lg-0(data-aos='fade-up', data-aos-delay='100')
							.block-team-member-1.text-center.rounded
								figure
									img.img-fluid.rounded-circle(src='images/mines/me/me2.jpg', alt='Image')
								h3.font-size-20.text-black Rubens Anderson
								span.d-block.font-gray-5.letter-spacing-1.text-uppercase.font-size-12.mb-3 Designer
								p.px-3.mb-3 Especialista em Usabilidade e UI/UX Design.
								.block-social-1
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://facebook.com/rubensanderson23', target='_blank')
										span.icon-facebook
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://www.instagram.com/rubens_andersonn/', target='_blank')
										span.icon-instagram
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://github.com/rubensandersonn', target='_blank')
										span.icon-github
						.col-lg-4.col-md-6.mb-4.mb-lg-0(data-aos='fade-up', data-aos-delay='200')
							.block-team-member-1.text-center.rounded
								figure
									img.img-fluid.rounded-circle(src='images/mines/me/me3.jpg', alt='Image')
								h3.font-size-20.text-black R. Silva
								span.d-block.font-gray-5.letter-spacing-1.text-uppercase.font-size-12.mb-3 CEO
								p.px-3.mb-3 Gerente de projetos e comandante deste navio
								.block-social-1
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://facebook.com/rubensanderson23', target='_blank')
										span.icon-facebook
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://www.instagram.com/rubens_andersonn/', target='_blank')
										span.icon-instagram
									a.btn.border-w-2.rounded.secondary-secondary-outline--hover(href='https://github.com/rubensandersonn', target='_blank')
										span.icon-github
			
			
