extends layout

block content
  h1 Sistema de Cadastro
  p.lead Rubens Anderson de Sousa Silva
  p.lead Graduado em Ciência da Computação - UFC
  p.lead Mestrando em Ciência da Computação - UFC
  hr 
  .row
    .col-md-6
      h2 Ver Github
      p Ver página pessoal de Rubens no github.com
      p
        a.btn.btn-raised(href='https://github.com/rubensandersonn', role='button') Ver Detalhes »
    .col-md-6
      h2 Ver Bitbucket
      p Ver página pessoal de Rubens no bitbucket.org
      p
        a.btn.btn-raised(href='https://bitbucket.org/rubensAnderson', role='button') Ver Detalhes »
    .col-md-6
      h2 Ver Curriculum Lattes
      p Ver curriculum na plataforma Lattes de Rubens
      p
        a.btn.btn-raised(href='http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K2722520P1', role='button') Ver Detalhes »
    .col-md-6
      h2 Email para contato
      p Email para contato de Rubens: rubens.silva@alu.ufc.br
      p
        a.btn.btn-raised(href='#', role='button') Ver Detalhes »