extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Criar Cadastro de Pessoa
  form(action='/usuario/create', method='POST', onsubmit="return confirm('Tem certeza que deseja cadastrar esta pessoa?');")
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='nome') Nome
      .col-md-7
        input.mb-2.form-control(type='text', name='nome', id='nome', placeholder='Nome', autofocus, autocomplete='nome', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='telefone') Telefone
      .col-md-7
        input.mb-2.form-control(type='text', name='telefone', id='telefone', placeholder='(85) 999999999', autofocus, autocomplete='telefone', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='nascimento') Data de Nascimento
      .col-md-7
        input.mb-2.form-control(type='text', name='nascimento', id='nascimento', placeholder='01/01/2000', autofocus, autocomplete='nascimento', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='rg') RG
      .col-md-7
        input.mb-2.form-control(type='text', name='rg', id='rg', placeholder='2007000000-0', autofocus, autocomplete='rg', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='cpf') CPF
      .col-md-7
        input.mb-2.form-control(type='text', name='cpf', id='cpf', placeholder='000.000.000-00', autofocus, autocomplete='cpf', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='endereco') Endereço
      .col-md-7
        input.mb-2.form-control(type='text', name='endereco', id='endereco', placeholder='Endereço', autofocus, autocomplete='endereco', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='estado') Estado
      .col-md-7
        input.mb-2.form-control(type='text', name='estado', id='estado', placeholder='Estado', autofocus, autocomplete='estado', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='cidade') Cidade
      .col-md-7
        input.mb-2.form-control(type='text', name='cidade', id='cidade', placeholder='Cidade', autofocus, autocomplete='estado', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='cep') CEP
      .col-md-7
        input.mb-2.form-control(type='text', name='cep', id='cep', placeholder='ex.: 60.000-000', autofocus, autocomplete='cep', required)
    
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Cadastrar
