extends ../layout

block content
  
  .pb-2.mt-2.mb-4.border-bottom 
    h3.pl-4 Remover Cadastro

  form.pl-4(action='/usuario/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='cpf') Digite o CPF da pessoa a ser removida
        .col-md-7
          input.form-control(type='text', name='cpf', id='cpf', placeholder='000.000.000-00', autofocus, autocomplete='cpf', required)
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Deletar Cadastro

  