extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 |
  .pb-2.mt-2.mb-4.border-bottom
    h3.ml-5.mr-1 Atualizar Cadastro
  form.mr-1(action='/usuario/update', method='POST', onsubmit="return confirm('Tem certeza que deseja atualizar esta pessoa?');")
    input(type='hidden', name='_csrf', value=_csrf)
    
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='cpf') Digite o CPF da pessoa a ser atualizada
      .col-md-7
        input.mb-2.form-control(type='text', name='cpf', id='cpf', placeholder='000.000.000-00', autofocus, autocomplete='cpf', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='nome') Novo Nome
      .col-md-7
        input.mb-2.form-control(type='text', name='nome', id='nome', placeholder='Nome', autofocus, autocomplete='telefone', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='telefone') Novo Telefone
      .col-md-7
        input.mb-2.form-control(type='text', name='telefone', id='telefone', placeholder='(85) 999999999', autofocus, autocomplete='telefone', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='cep') CEP
      .col-md-7
        input.mb-2.form-control(type='text', onblur='pesquisacep(this.value);', name='cep', id='cep', placeholder='ex.: 60.000-000', autofocus, autocomplete='estado', required)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='endereco') Endereço
      .col-md-7
        input.mb-2.form-control(type='text', name='endereco', id='endereco', placeholder='Endereço', autofocus, autocomplete='endereco', required, readonly)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='cidade') Cidade
      .col-md-7
        input.mb-2.form-control(type='text', name='cidade', id='cidade', placeholder='Cidade', autofocus, autocomplete='cidade', required, readonly)
      
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='estado') Estado
      .col-md-7
        input.mb-2.form-control(type='text', name='estado', id='estado', placeholder='ex.: CE ou Ceará', autofocus, autocomplete='estado', required, readonly)
      
      
    
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Atualizar
